
nav{
    margin-bottom: 5rem !important;
    
} 

nav ul a{

    color: black !important;
    font-weight: 500;
    font-size: large;
    margin-right: 3em !important;
   
}


footer{
    background-color: rgb(182, 155, 155);
    display: flex;
    flex-direction: column;
}

footer .container{
    display: flex;
}

#header {
	background: rgb(161, 17, 17);
	color: white;
	height: 80px;
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}



@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(139, 26, 105);
    }
  }
